*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    display: flex;
    flex-direction: row;
}

p{
    font-size: xx-small;
}

.container{
    display: flex;
    /* margin: 50%; */
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fbf7fa;
}

.containerOne{
    width: 200px;
    height: 100px;
    padding: 20px;
    background-color: #0f0f0f;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.containerOne button{
    font-family: 'Poppins', sans-serif;
    position: inherit;
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 30px;
    font-size: xx-small;
    font-weight: bolder;
    border-radius: 20px;
    background-color: #0f0f0f;
    border: solid 2px rgba(0, 0, 0, 0);
    color: #0f0f0f;
}

.containerOne button:hover{
    box-shadow: #000 10px 10px 20px;
    color: #fbf7fa;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: all 3s ease-in-out;
}

.containerOne button:hover::after{
    transition: all 3s ease-in-out;
}

.neonLayts{
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 50%;
    background: linear-gradient(0deg, #000, #262626);
    border-radius: 55px;
    overflow: hidden; /* Add overflow property to hide the blurred part */
    z-index: -1;
}

.neonLayts::before{
    content: '';
    position: absolute;
    border-radius: 50px;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, red, orange, yellow, green, indigo, violet, red);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: gradient 50s reverse infinite;
}

.neonLayts.blur-effect::before {
    width: 550px;
    height: 330px;
    filter: blur(30px);
}

@media screen and (max-width: 425px){
    .containerOne{
        width: 300px;
        height: 200px;
        font-size: small;
    }

    .containerOne button{
        width: 150px;
        padding: 10px;
        font-size: xx-small;
    }

    .neonLayts{
        width: 300px;
        height: 200px;
    }

    .neonLayts::before{
        width: 350px;
        height: 230px;
    }
    
}

@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
